*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-size: 100%;
  color: white;
  
  text-align: center;
  background-color: #312C;
}
.app{
  width: 100%;
  padding: 4rem 3rem ;
}

.input{
  background-color: #e5e8f1;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  border: rgb(109, 100, 100) .1rem solid;
  margin: 2rem;
}
.sort{
  background-color: #e5e8f1;
  padding: 1rem;
  border-radius: 1rem;
  border: rgb(109, 100, 100) .1rem solid;
  margin: 2rem;
}
.assignment{
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: 800;
  color: rgb(35, 37, 36);
}
.intern-cards{
  margin-top: 40px;
  display: grid;
  flex-wrap: wrap;
  gap: 10px;
  grid-template-columns: 1fr 1fr  ;
  flex-grow: inherit;

}
.show-btn{
  margin: .8rem;
  padding: .4rem;
  font-size: medium;
  border: 0;
  color: rgba(200, 31, 31, 0.376);
  border-radius: 2rem;
}
.intern-picture{
  border-radius: 2rem;
  width: 14rem;
}